.heading__primary {
    font-size: 60px;
    font-weight: 400;
    font-family: 'poppins' sans-serif;
    margin-top: 20px;
}
.heading__secondary {
    font-size: 26px;
    font-weight: 400;
    font-family: 'poppins' sans-serif;
}
.paragraph {
    font-size: 18px;
    font-family: 'poppins' sans-serif;
}
