<div class="dashboard">

  <div class="header">
        <p class="header__title">Dashboard</p>
  </div>

<section class="content">
    <div class="banner">
      <div class="banner__title">
          <p class="heading__secondary">Welcome to Internally Generated Revenue Monitoring system</p>
          <p class="paragraph" style="margin-top: 10px;">Manage and monitor revenue records</p>
      </div>
    </div>

    <section class="main">
      <div class="operations">
        <div class="operation__title">
            <fa-icon [icon]="uploadIcon" class="operation__icon"></fa-icon>
            <p class="heading__secondary" style="margin-left: 20px; font-weight: 600;">Upload Payment</p>
        </div>
          <p class="paragraph" style="margin-top: 5px; color: #878787; font-size: 15px;">upload market squatters payment</p>
        <hr class="divider">
        <a router-Link = "/revenue/uploadpayment" class="operation__link">Upload</a>
      </div>

      <div class="operations">
          <div class="operation__title">
              <fa-icon [icon]="validateIcon" class="operation__icon"></fa-icon>
              <p class="heading__secondary" style="margin-left: 20px; font-weight: 600;">Validate Payment</p>
          </div>
            <p class="paragraph" style="margin-top: 5px; color: #878787; font-size: 15px;">validate market squatters payment</p>
          <hr class="divider">
          <a class="operation__link" (click)="openDialog()">Validate</a>
        </div>
    </section>
  </section>

</div>

