@import '../../../global/abstracts/variables';

.sidebar{
    height: 100vh;
    background-color: $sidebarBackgroundColor;
    box-shadow: 3px 0 7px -4px #ccc;
    width: 250px;

    &__content{
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;
    
        nav{
          margin-top: 70px;
    
          ul li{
            list-style: none;
            padding: 10px;
            transition: all .2s;
            cursor: pointer;
            &:hover{
              background-color: $lightGray;
              border-radius: 20px;
            }
          }
          ul li a{
            text-decoration: none;
            font-size: 1.7rem;
            font-weight: bold;
            color: $darkGray;
          }
    
          ul li:not(:last-child){
            margin-bottom: 20px;
          }
        }
      }
    
      &__heading{
        font-size: 1.9rem;
      }
      fa-icon{
        margin-right: 20px;
        font-size: 1.9rem;
      }
}