<div class="sidebar">
    <div class="sidebar__content">
        <h2 class="sidebar__heading">
          <span><fa-icon [icon]="dashboardIcon" class="dashboardIcon"></fa-icon></span>
          <span>Dashboard</span>
        </h2>
          <nav>
              <ul>
                <li>
                  <fa-icon [icon]="chartIcon" style="color: #17148f"></fa-icon>
                  <a routerLink = "/revenue/dashboard" routerLinkActive = "active">Dashboard</a>
                </li>

                <li>
                    <fa-icon [icon]="topupIcon" style="color: #dbc92a"></fa-icon>
                    <a routerLink = "/revenue/uploadpayment" routerLinkActive = "active">Upload Payment</a>
                  </li>
              </ul>
          </nav>
      </div>
</div>

