// all global variable goes here..

$input-backgroundColor: #1d4958;
$button-color: #02e079;
$text-color: #efeef9;
$background-color: #708690;
$loginColor: #023145;
$sidebarBackgroundColor: #ffff;

$lightGray:#F2F2F2;
$darkGray: #878787;