<div class="upload">
  <div class="header">
    <p class="header__title">Upload Payment</p>
</div>

<div class="content" id="content">
  <div class="content__header">
    <p style="color: red;"> Fill in the payment form</p>
  </div>
  <div class="content__main">
    <form class="example-form" [formGroup]="uploadPaymentForm"  (ngSubmit)="uploadPayment(uploadPaymentForm.value)" >
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Payee Full Name" formControlName="payeeName">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Payee Address" formControlName="payeeAddress">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <mat-label>Select Market</mat-label>
          <mat-select formControlName="market">
            <mat-option value="ajifowobaje">Ajifowobaje</mat-option>
            <mat-option value="ondoroad">Ondo Road</mat-option>
            <mat-option value="iloro">Iloro</mat-option>
          </mat-select>
        </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Amount paid" type="number" formControlName="amount">
      </mat-form-field>
      <button mat-raised-button color="accent">Submit</button>
  </form>
  </div>
</div>
</div>
