<div class="container">
    <div>
        <img src="../../assets/logowide.png" alt="logo is here" class="logo">
    </div>

    <div class="container__login">
        <img src="../../assets/login-logo-square.png" alt="login logo" class="login__logo">
        <h5 class="heading__secondary secondary__style">Sign in</h5>
        <p class="paragraph secondary__style">Sign in to monitor revenue records</p>
        <form [formGroup]="loginForm" (ngSubmit) = 'onSubmit(loginForm.value)'>
            <div class="form__control">
                <input type="email" placeholder="Username" class="form__control-input" formControlName="email">
            </div>
            <div class="form__control">
                <input type="password" name="password" placeholder="Password" class="form__control-input" formControlName="password">
            </div>
            <a class="remember__link">Don't remember password?</a>
            <button class="btn btn-lg">LOG IN</button>
        </form>
    </div>
    <footer class="login__footer">
        <p>Internally Generated Revenue Monitoring System &copy; 2019</p>
    </footer>
</div>

